body {
    color: white;
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body>h1 {
    text-align: center;
    font-size: 2.5em;
}

.student>h1 {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.student {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align: center;
    margin: 2em;
    width: 20em;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}