:root {
  --font-color: black;
  --modal-color: white;
  --border-color: black;
}

[data-theme="gryffindor"] {
  --font-color: red;
  --modal-color: white;
  --border-color: yellow;
}

[data-theme="slytherin"] {
  --font-color: green;
  --modal-color: white;
  --border-color: black;
}

[data-theme="ravenclaw"] {
  --font-color: blue;
  --modal-color: white;
  --border-color: brown;
}

[data-theme="hufflepuff"] {
  --font-color: orange;
  --modal-color: white;
  --border-color: yellow;
}

body {
  color: white;
  background-image: url(back.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#hogwarts {
  width: 200px;
  padding: 2em;
}

.allOpt {
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.555);
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 8em;
}

.sortDropDown .sortBy,
.filterDropDown .filterBy {
  font-size: 1.4em;
  margin-top: 1em;
}

.selected,
.sortDropDown .sortOpt p:hover,
.filterDropDown .filterOpt p:hover {
  cursor: pointer;
  font-size: 1.1em;
  color: rgb(170, 156, 139);
  transition: 0.3s;
}


.show {
  width: 250px;
}

.main {
  width: 85%;
  margin-left: auto;
  transition: 0.5s;
}

.moveMain {
  margin-left: 250px;
}

.tableHeader {
  background-color: rgba(0, 0, 0, 0.555);
  margin-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
}

.tableHeader p {
  flex-basis: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list,
.tableHeader {
  transition: 0.5s;
}

.moveList {
  margin-left: 50px;
}

#menuMobile {
  max-width: 13.5%;
  position: fixed;
  left: 10px;
  transition: 0.5s;
}

.student {
  /* background-color: rgba(0, 0, 0, 0.068); */
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.student p,
.student button,
.student input {
  flex-basis: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student input {
  height: 20px;
}

.student button,
.modal button[data-action="expel"] {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.modal {
  width: 0;
  background-color: rgba(0, 0, 0, 0.555);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.modal article {
  /* background-color: var(--modal-color); */
  background-image: url(back.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: var(--font-color);
  width: 60%;
  height: 100%;
  padding: 1em;
}

.modal article .border {
  position: relative;
  border: 1px solid var(--border-color);
  height: 100%;
  padding: 1em;
}

.modal .gender {
  max-width: 40px;
}

.modal button[data-action="expel"] {
  background-color: rgba(156, 20, 20, 0.74);
  color: white;
}

.showModal {
  width: 100%;
}

#cross {
  width: 10%;
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.crest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


@media all and (min-width: 750px) {
  main {
    display: flex;
  }

  .burgerMenu {
    display: none;
  }

  .allOpt {
    z-index: inherit;
    width: 250px;
  }

  .main {
    margin-left: 250px;
  }

  .modal article {
    max-width: 500px;
  }

  .modal article .border .pic {
    margin-bottom: 1em;
  }

  .modal article .border .crest {
    grid-area: 1/2;
  }

  #cross {
    max-width: 40px;
  }

  .crest {
    max-width: 100px;
  }
}